body{
	margin: 0px;
	padding: 0px;
}

*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
	text-decoration: none;
}

.wrapper{
	display: grid;
	width: 100%;
	height: auto;
	margin: 0px auto;
	grid-template-areas: "header header header header header header"
							"product product product product product product"
							"footer footer footer footer footer footer";
}
/*bagian header awal*/
header{
	grid-area: header;
	display: grid;
	padding: 10px;
	background-color: #333333;
	grid-template-areas:"logo  nav";
	grid-template-columns: 2fr 1fr;
}

nav{
	grid-area: nav;
}
.header>section{
	grid-area: logo;
}
header>section>a>img{
	width: 100px;
	margin-left: 50px;
}
ul{
	margin-top: 30px;
}
header a{
	color: whitesmoke;
	text-decoration: none;
	font-size: 20px;
	margin-left: 10px;
}
/*bagian header akhir*/

/*bagian product awal*/

.product-container{
	grid-area: product;
	background-size: cover;
	width: 1300px;
	margin: 5% auto auto auto;

	

}

.product{	
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto auto;
}

div>img{
	width: 300px;
}
a>div{
	border: 2px solid black;
	margin: 0px 30px 0px 30px;
	font-size: 20px;
	color: black;
}

/*bagian product akhir*/

/*bagian footer awal*/

footer{
	width: 100%;
	background-color: #333333;
	grid-area: footer;
	margin-top: 40%;		
}

footer>h3{
	padding:20px;
	color: whitesmoke; 
}
/*bagian footer akhir*/